@import "tailwindcss";
@tailwind utilities;
@import "tailwindcss-animated";

.logo-enlarge {
    display: inline-block;
    transform: scale(1.5);
    transform-origin: center;

    margin-left: 0.75rem;
}

@media (min-width: 768px) {
    .logo-enlarge {
        transform: scale(1.7);
        margin-left: 1rem;
    }
}